<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scrs.mapper.StudentCourseMapper">
    <resultMap id="studentCourse" type="com.scrs.pojo.StudentCourse">
        <id property="id" column="id"/>
        <result property="sid" column="sid"/>
        <result column="cid" property="cid"/>
        <result column="status" property="status"/>
        <association property="student" javaType="com.scrs.pojo.Student">
            <id column="id" property="id"/>
            <result property="sname" column="sname"/>
            <result column="password" property="password"/>
            <result column="sex" property="sex"/>
            <result column="college" property="college"/>
            <result property="age" column="age"/>
            <result property="major" column="major"/>
            <result property="simage" column="simage"/>
        </association>
        <association property="course" javaType="com.scrs.pojo.Course">
            <id column="id" property="id"/>
            <result property="cname" column="cname"/>
            <result property="major" column="major"/>
            <result property="address" column="address"/>
            <result property="num" column="num"/>
            <result property="stock" column="stock"/>
            <result column="cimage" property="cimage"/>
            <result property="cbook" column="cbook"/>
        </association>
    </resultMap>
    <select id="listStudentCourse" resultType="com.scrs.pojo.StudentCourse" resultMap="studentCourse">
    SELECT
        sc.id,
        sc.sid,
        sc.cid,
        sc.status,
        s.sname,
        s.simage,
        s.college,
        c.major AS course_major,
        c.stock,
        c.cname,
        c.cimage,
        c.address
    FROM
        student_course sc
    JOIN student s ON sc.sid = s.id
    JOIN course c ON sc.cid = c.id
    <where>
        <if test="id != null and id != ''">
            sc.id = #{id}
        </if>
    </where>
    </select>



<select id="listMyCourse" resultMap="studentCourse">
    select
        sc.id as sc_id,
        sc.sid,
        sc.cid,
        sc.status,
        s.id as s_id,
        s.sname,
        s.password,
        s.sex,
        s.age,
        s.major,
        s.college,
        s.simage,
        c.id as c_id,
        c.cname,
        c.major,
        c.address,
        c.num,
        c.stock,
        c.cimage,
        c.cbook,
        c.teacher,
        c.credit
    FROM
        student_course sc,
        student s,
        course c
    <where>
        s.id = sc.sid and c.id = sc.cid and s.id = #{userId}
        <if test="cname != null and cname != ''">
            and c.cname = #{cname}
        </if>
    </where>
</select>
</mapper>
