<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scrs.mapper.StudentCourseMapper">
    <resultMap id="studentCourse" type="com.scrs.pojo.StudentCourse">
        <id property="id" column="sc_id"/>
        <result property="sid" column="sc_sid"/>
        <result column="sc_cid" property="cid"/>
        <result column="status" property="status"/>
        <association property="student" javaType="com.scrs.pojo.Student">
            <id column="s_id" property="id"/>
            <result property="sname" column="sname"/>
            <result column="password" property="password"/>
            <result column="sex" property="sex"/>
            <result column="s_college" property="college"/>
            <result property="age" column="age"/>
            <result property="major" column="major"/>
            <result property="simage" column="simage"/>
        </association>
        <association property="course" javaType="com.scrs.pojo.Course">
            <id column="c_id" property="courseId"/>
            <result property="courseName" column="course_name"/>
            <result property="college" column="c_college"/>
            <result property="campus" column="campus"/>
            <result property="enrolledCount" column="enrolled_count"/>
            <result property="capacity" column="capacity"/>
            <result property="credits" column="credits"/>
            <result property="instructorName" column="instructor_name"/>
            <result property="description" column="description"/>
            <result property="classroom" column="classroom"/>
            <result property="startWeek" column="start_week"/>
            <result property="endWeek" column="end_week"/>
            <result property="type" column="type"/>
        </association>
    </resultMap>
    <select id="listStudentCourse" resultType="com.scrs.pojo.StudentCourse" resultMap="studentCourse">
    SELECT
        sc.id as sc_id,
        sc.sid as sc_sid,
        sc.cid as sc_cid,
        sc.status,
        s.id as s_id,
        s.sname,
        s.simage,
        s.college as s_college,
        c.course_id as c_id,
        c.college as c_college,
        c.capacity,
        c.course_name,
        c.campus,
        c.enrolled_count,
        c.credits,
        c.instructor_name,
        c.description,
        c.classroom,
        c.start_week,
        c.end_week,
        c.type
    FROM
        student_course sc
    JOIN student s ON sc.sid = s.id
    JOIN course c ON sc.cid = c.course_id
    <where>
        <if test="id != null and id != ''">
            sc.id = #{id}
        </if>
    </where>
    </select>



<select id="listMyCourse" resultMap="studentCourse">
    select
        sc.id as sc_id,
        sc.sid as sc_sid,
        sc.cid as sc_cid,
        sc.status,
        s.id as s_id,
        s.sname,
        s.password,
        s.sex,
        s.age,
        s.major,
        s.college as s_college,
        s.simage,
        c.course_id as c_id,
        c.course_name as course_name,
        c.college as c_college,
        c.campus as campus,
        c.enrolled_count as enrolled_count,
        c.capacity as capacity,
        c.credits as credits,
        c.instructor_name as instructor_name,
        c.description as description,
        c.classroom as classroom,
        c.start_week as start_week,
        c.end_week as end_week,
        c.type as type
    FROM
        student_course sc
    JOIN student s ON s.id = sc.sid
    JOIN course c ON c.course_id = sc.cid
    WHERE
        s.id = #{userId} and sc.status = 1
        <if test="cname != null and cname != ''">
            and c.course_name = #{cname}
        </if>
</select>
</mapper>
