<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 当执行某个查询语句之后，MyBatis会获取结果集，并根据映射关系将结果集中的列数据转化为Java对象中的属性。

首先，通过column属性，从数据库结果集找到相应列的数据。
然后，通过property属性，将该数据赋值给Java对象的指定属性。-->
<mapper namespace="com.scrs.mapper.TeacherCourseMapper">
    <resultMap id="teacherCourse" type="com.scrs.pojo.TeacherCourse">
        <result column="id" property="id"/>
        <result column="tid" property="tid"/>
        <result column="cid" property="cid"/>
        
        <association property="teacher" javaType="com.scrs.pojo.Teacher">
            <!-- teacher类-->
            <result column="id" property="id"/>
            <result column="tname" property="tname"/>
            <result column="password" property="password"/>
            <result column="sex" property="sex"/>
            <result column="email" property="email"/>
            <result column="phone" property="phone"/>
            <result column="age" property="age"/>
            <result column="major" property="major"/>
            <result column="timage" property="timage"/>
        </association>
        <association property="course" javaType="com.scrs.pojo.Course">
            <!-- course类-->
            <result column="id" property="id"/>
            <result column="cname" property="cname"/>
            <result column="address" property="address"/>
            <result column="num" property="num"/>
            <result column="stock" property="stock"/>
            <result column="cimage" property="cimage"/>
            <result column="cbook" property="cbook"/>
            <result column="major" property="major"/>
            <result column="credit" property="credit"/>
        </association>
    </resultMap>
    <select id="listTeacherCourse" resultType="com.scrs.pojo.TeacherCourse">
        select tc.id,t.tname,t.timage,t.phone,t.email,c.major,c.stock,c.cname,c.cimage,c.address
        from teacher t,course c,teacher_course tc
        <where>
            AND t.id=tc.tid AND c.id=tc.cid
            <if test="teacherCourseId != null and teacherCourseId != ''">
                AND tc.id=#{teacherCourseId}
            </if>

        </where>
    </select>
</mapper>
