<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 当执行某个查询语句之后，MyBatis会获取结果集，并根据映射关系将结果集中的列数据转化为Java对象中的属性。

首先，通过column属性，从数据库结果集找到相应列的数据。
然后，通过property属性，将该数据赋值给Java对象的指定属性。-->
<mapper namespace="com.scrs.mapper.TeacherCourseMapper">
    <resultMap id="teacherCourse" type="com.scrs.pojo.TeacherCourse">
    
        <!-- TeacherCourse 基本字段 -->
        <result column="tc_id" property="id"/>
        <result column="tc_tid" property="tid"/>
        <result column="tc_cid" property="cid"/>

        <!-- 关联 Teacher 对象 -->
        <association property="teacher" javaType="com.scrs.pojo.Teacher">
            <result column="t_id" property="id"/>
            <result column="tname" property="tname"/>
            <result column="password" property="password"/>
            <result column="sex" property="sex"/>
            <result column="email" property="email"/>
            <result column="phone" property="phone"/>
            <result column="age" property="age"/>
            <result column="major" property="major"/>
            <result column="timage" property="timage"/>
        </association>

        <!-- 关联 Course 对象 -->
        <association property="course" javaType="com.scrs.pojo.Course">
            <result column="c_id" property="id"/>
            <result column="c_major" property="major"/>
            <result column="stock" property="stock"/>
            <result column="cname" property="cname"/>
            <result column="cimage" property="cimage"/>
            <result column="address" property="address"/>
            <result column="num" property="num"/>
            <result column="cbook" property="cbook"/>
            <result column="credit" property="credit"/>
        </association>
    </resultMap>

    <select id="listTeacherCourse" resultMap="teacherCourse">
        SELECT
            tc.id AS tc_id,
            tc.tid AS tc_tid,
            tc.cid AS tc_cid,
            t.id AS t_id,
            t.tname,
            t.password,
            t.sex,
            t.email,
            t.phone,
            t.age,
            t.major,
            t.timage,
            c.id AS c_id,
            c.major AS c_major,
            c.stock,
            c.cname,
            c.cimage,
            c.address
        FROM
            teacher_course tc
        JOIN
            teacher t ON t.id = tc.tid
        JOIN
            course c ON c.id = tc.cid
        WHERE
            tc.id = #{id}
    </select>
</mapper>
